<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/2128042/pexels-photo-2128042.jpeg);">
  <div class="container">
    <h1>Let's watch some movies</h1>
  </div>
</div>
<div class="container mt-3">
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : image_path('https://ducunl0s4svtl.cloudfront.net/wp-content/uploads/2017/10/flat-clapperboard-icon_1063-38.jpg') %>)">
        <%= link_to "#{list.name}", list_path(list), class: 'text-decoration-none text-white' %>
      </div>
    <% end %>
  </div>
  <%= link_to "Create a list", new_list_path, class: 'btn btn-secondary text-decoration-none mt-3 mb-3' %>
</div>
